
body {

    width: 600px;
    margin: 0, auto;
    background-color:beige ;

}



div {

    padding-top: 50px;

    padding-right: 30px;

    padding-bottom: 50px;

    padding-left: 80px;

}
.form-items{
    display:flex;
    flex-direction:column;

}

h1 {
    color: white;
}

label{
    color: white;
}
